.my-custom-class {
    --width: 25%;
    --height: 50%;
}

.close-modal-btn{
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}

.modalFilterDate {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
