.container {
  padding-left: 15px;
  padding-right: 15px;
}

.amountStyle {
  margin-bottom: 20px;
}

.btn {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.resultText {
  margin-left: auto;
  margin-right: auto;
}

.errorTitle {
  margin-top: 100px;
  text-align: center;
}

.refreshBtn {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  .currencyBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .amountStyle {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .result {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.asd .alert-wrapper .ion-overlay-wrapper .sc-ion-alert-md {
  align-items: center;
}

.spinner-container {
  position: absolute;
  width: 30px;
  height: 30px;
  top: calc(50% - 15px);
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.sortBTN {
  margin-left: auto;
}

.sort-box {
  display: flex;
  justify-content: space-around;
}

.ion-page {
  padding: 20px;
}

.timePeriodFrom {
  text-align: right;
  font-size: 13px;
  color: grey;
}

