.table {
    margin-top: 40px;
    margin-bottom: 40px;
}
thead {
    background-color: lightgray;
}
thead th:nth-child(1) {
    width: 20%;
}
thead th:nth-child(2) {
    width: 20%;
}
thead th:nth-child(2) {
    width: 20%;
}
thead th:nth-child(4) {
    width: 20%;
}
thead th:nth-child(4) {
    width: 20%;
}
.th {
    padding: 5px;
    border: 1px solid black;
}
.td {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    text-align: center;
}
